#win_layer{
    animation: win_layer 0.35s ease 0s 1 normal forwards;
    line-height: 60px;
    position: absolute; /* Sit on top of the page content */
    display:none; /* Hidden by default */    
    width: 20vh; /* Full width (cover the whole page) */
    height: 7vh; /* Full height (cover the whole page) */
    top: 95px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 4vh;    
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 170, 100); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}

@keyframes win_layer {
    from {
      width: 0%;
      height: 0%;
      font-size: 0%;
    }
  }
